* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #f0f0f0;
  --foreground-color: #003cff;
  --topmenu-background-color: #c7c2c2;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

h1,
h2,
h4,
strong {
  color: var(--primary-text-color);
}

.CardSubtitle {
  color: var(--primary-text-color);
}
