.custom-contact-form {
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-bottom: 0;
}

/* Nagłówki sekcji formularza */
h2 {
  text-align: center;
  color: #343a40; /* Ciemniejszy szary kolor */
}

/* Pola formularza */
.form-control {
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da; /* Szary kolor obramowania */
  transition: border-color 0.2s ease-in-out;
}

/* Przycisk */
button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #585e64;
  border-radius: 4px;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: #2e3033;
}

.row {
  margin-bottom: 1rem;
}
